.all{
    font-size: 10px;
    display: flex;
    justify-content: space-between;
}

.pai{
    border-radius: 1.5vw;
    border: 1px solid black;
    overflow: hidden;
    font-size: 1.5vw;
    text-align: center;
    width: 30vw;
}

.oi{
    display: flex;
    flex-direction: column;
    gap: 5vw;
}

.calcular{
    color: black;
    background-color: rgb(255, 255, 255);
    font-size: 2vw;
    box-shadow: 10px 0px 30px grey;
    display: flex;
    width: 30%;
    height: 35vw;
    top: 3vw;
    flex-direction: column;
    justify-content: center;
    border: 2px solid gray;
    border-radius: 2vw;
    margin: 10px;
    text-align: center;
    position: fixed;
    right: 5px;
}

input{
    height: 5vh;
    display: block;
    outline: none;
    align-items: center;
    text-align: center;
    background: none;
    border-radius: 10px;
    margin: 0px 10px;
}

.Tung{
    color: lime;
}

.button{
    height: 300vw;
}