*{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin: 0;
}

html{
    font-size: 10px;
}

body{
     background-color: whitesmoke;
     overflow-x: hidden;
}

.menu{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu img{
    width: 200px;
}

.links{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    font-size: 2rem;
    color: white;
    align-items: center;
}

.links a{
    color: grey;
    max-width: 1200px;
    text-decoration: none;
    transition: .2s;
}

.links a:hover{
    color: black;
    transform: scale(1.03);
    text-decoration: underline;
}

span{
    color: blue;
}

.foto{
    display: flex;
    justify-content: space-between;
    background-color: rgb(231, 222, 222);
    padding: 2rem;
    align-items: center;
}

.text{
    font-size: 1.3rem;
    width: 370px;
    text-align: justify;
    margin: 2rem 2rem;
}

.rou img{
    border-radius: 1rem;
    width: 400px;
}

.seemore{
    background-color: blue;
    padding: 1.5rem 3rem;
    color: white;
    border-radius: 0.6rem;
    font-size: 1.5rem;
    text-decoration: none;
    margin: 3rem 0rem 0rem;
    border: none;
    transition: 0.4s;
}

.seemore:hover{
    background-color: white;
    color: blue;
    transform: scale(1.1);
}

.oii{
    text-align: center;
    font-size: 2.5vw;
}

.info{
    display: flex;
    padding: 2vw;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2vh;
    gap: 3vw;
}

.CONJ{
    display: flex;
    background-color: white;
    text-align: center;
    width: 24vw;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0px 10px 20px grey;
    overflow: hidden;
}

.info a{
    text-decoration: none;
    color: black;
    transition: ease-out 0.3s;
}

.info a:hover{
    transform: translateY(-10px) 
    scale(1.03);
    color: blue;
    text-decoration: underline;
}

@media (max-width: 480px){
    html{
        font-size: 10px;
    }

    .menu{
        align-items: center;
        height: 15vh;
    }

    .menu img{
        width: 30vw;
    } 

    .seemore{
        font-size: 1.5rem;
        padding: 1rem 3rem;
        margin: 2rem 2rem 0rem;
        border-radius: 0.5rem;
    }

    .oii{
        font-size: 2rem;
    }

    .links{
        gap: 1rem;
        font-size: 1rem;
        position: relative;
        right: 3rem;
    }

    .text{
        font-size: 1.3rem;
        text-align: center;
        gap: 3rem;
        width: 90vw;
    }

    .foto{
        flex-direction: column;
        margin: auto;
        justify-content: center;
        gap: 3rem;
        font-size: 0.1rem;
        text-align: center;
    }

    .foto a{
        font-size: 0.5rem;
        margin: auto;
    }

    .foto img{
        width: 300px;
    }

    .info{
        flex-direction: column;
        gap: 4rem;
        margin-top: 2rem;
    }

    .info a{
        margin: auto;
    }

    .info .CONJ{
        width: 70vw;
        font-size: 1.5rem;
        border-radius: 1.5rem;
    }
}